<h2><%= @user.username %></h2>

<p id="notice"><%= notice %></p>

<div class="image-table">
    <% @user.posts.each do |post| %>
        <div><%= image_tag post.image.url(:medium) %></div>
        <div><%= link_to post.user.username, user_path(post.user) %>: </div>
        <div><%= post.description %></div>
        <% if @user = current_user %>
            <div><%= link_to 'Edit', edit_post_path(post) %></div>
            <div><%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %></div>
        <% end %>
        <br>
    <% end %>
</div>
